<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="/static/css/post-detail.css" />
  </head>

  <body>
    <main>
      <div class="post-detail-template">
        <div class="add-comment">
          <a href="/home" class="cta-button">Go home</a>
        </div>
        <div class="post">
          <h1>{{.Post.Title}}</h1>
          <div class="post-meta">
            by {{.Post.User.Username}} | {{- $date := .Post.CreatedAt.Format
            "2006-01-02" -}} {{- $time := .Post.CreatedAt.Format "15:04" -}}
            {{$date}} {{$time}} | Category:
            <a href="/category/{{.Post.Category.ID}}"
              >{{.Post.Category.Name}}</a
            >
          </div>
          <div class="post-content">{{.Post.Content}}</div>
        </div>

        <div class="comments-section">
          <h2>Comments</h2>
          {{range .Comments}}
          <div class="comment">
            <div class="comment-meta">
              {{.User.Username}} | {{.CreatedAt.Format "2006-01-02 15:04"}}
            </div>
            <div class="comment-content">{{.Content}}</div>
          </div>
          {{else}}
          <p>No comments yet.</p>
          {{end}}
        </div>

        <div class="add-comment">
          <h3>Add a Comment</h3>
          <form action="/comment" method="POST">
            <input type="hidden" name="post_id" value="{{.Post.ID}}" />
            <textarea name="content" rows="4" required></textarea>
            <button type="submit" class="submit-button">Post Comment</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
